.add-entry-btn {
  appearance: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: light-dark(var(--light-secondary), var(--dark-secondary));
  border: none;
  border-radius: 1rem;
  font-size: 1.125rem;
  height: 5ex;
  width: 100%;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.125rem;
  }
}

.delete-entry-btn {
  display: flex;
  align-items: center;
  gap: 1ch;
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  border: 0.125rem solid light-dark(rgb(225, 226, 230), rgb(65, 68, 80));
  color: light-dark(rgb(76, 76, 76), rgb(179, 179, 179));
  border-radius: 0.25rem;
  cursor: pointer;
  user-select: none;

  &:is(:hover, :active, :focus-visible) {
    text-decoration: underline;
    color: var(--danger);
    border-color: var(--danger);
  }

  &:focus-visible {
    outline: 1px solid var(--primary-color);
    outline-offset: 2px;
  }
}
